In [15]:
#library required

import os
import time 
from datetime import datetime
import io 
import sys

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
#Loading the data from csv

# Define the file path
file_path = r"C:\Users\Poovesh Kumar M\Downloads\Planning\\1_Data\3_Sep_05_09_2024\demand_planning_MP_05_09_2024.csv"

# Read the CSV file into a DataFrame
df_base = pd.read_csv(file_path)

# Display the DataFrame
print(df_base)

                brand sales_channel  sales_date sale_month_year        asin  \
0       majestic pure    Amazon.com  2023-04-01         04-2023  B07HGG6VX4
1       majestic pure    Amazon.com  2023-04-01         04-2023  B0B9194J2B
2       majestic pure    Amazon.com  2023-04-01         04-2023  B0B917SHXV
3       majestic pure    Amazon.com  2023-04-01         04-2023  B07G8Q4WG2
4       majestic pure    Amazon.com  2023-04-01         04-2023  B017I2B8NK
...               ...           ...         ...             ...         ...
237382  majestic pure    Amazon.com  2023-03-11         03-2023  B09RYRHYHH
237383  majestic pure    Amazon.com  2023-11-17         11-2023  B09RYRHYHH
237384  majestic pure    Amazon.com  2024-05-22         05-2024  B09RYRHYHH
237385  majestic pure    Amazon.com  2022-12-10         12-2022  B07H8KP1PB
237386  majestic pure    Amazon.com  2023-02-27         02-2023  B01K90KCP8

       earliest_date_brand_channel currency        asp     gmv  inorganic_gmv  \
0                       2022-10-01      USD  22.840476  479.65         0.0000
1                       2022-10-01      USD  13.990000   13.99         0.0000
2                       2022-10-01      USD  12.590000  289.57       206.5600
3                       2022-10-01      USD  14.950000   74.75         0.0000
4                       2022-10-01      USD  16.690000   16.69        34.5197
...                            ...      ...        ...     ...            ...
237382                  2022-10-01      USD  22.950000  114.75         0.0000
237383                  2022-10-01      USD   0.000000    0.00         0.0000
237384                  2022-10-01      USD   0.000000    0.00         0.0000
237385                  2022-10-01      USD   0.000000    0.00         0.0000
237386                  2022-10-01      USD   0.000000    0.00         0.0000

        ...             category  sub_category  product_type   theme  \
0       ...           Body Scrub           NaN    B07HGG6VX4  Legacy
1       ...  Essential Oil blend           NaN    B0B9194J2B     NaN
2       ...        Essential Oil           NaN    B0B917SHXV  Legacy
3       ...        Essential Oil           NaN    B07G8Q4WG2  Legacy
4       ...        Essential Oil           NaN    B017I2B8NK  Legacy
...     ...                  ...           ...           ...     ...
237382  ...                  NaN           NaN           NaN     NaN
237383  ...                  NaN           NaN           NaN     NaN
237384  ...                  NaN           NaN           NaN     NaN
237385  ...                  NaN           NaN           NaN     NaN
237386  ...                  NaN           NaN           NaN     NaN

             dros  cummulative_ros velocity_bucket  vb_created_datetime  \
0       12.706237           0.9447            4_SM  2024-09-04 21:09:01
1             NaN              NaN             NaN  2024-09-04 21:09:01
2        8.571429           0.9700            4_SM  2024-09-04 21:09:01
3       28.571429           0.8858            4_SM  2024-09-04 21:09:01
4       11.416129           0.9509            4_SM  2024-09-04 21:09:01
...           ...              ...             ...                  ...
237382        NaN              NaN             NaN                  NaN
237383        NaN              NaN             NaN                  NaN
237384        NaN              NaN             NaN                  NaN
237385        NaN              NaN             NaN                  NaN
237386        NaN              NaN             NaN                  NaN

        inorganic_gmv_units  organic_gmv_units
0                    0.0000            21.1006
1                    0.0000             1.0000
2                   16.4066             6.5933
3                    0.0000             5.0000
4                    2.0682            -1.0682
...                     ...                ...
237382               0.0000             5.0000
237383               0.0000             0.0000
237384               0.0000             0.0000
237385               0.0000             0.0000
237386               0.0000             0.0000

[237387 rows x 24 columns]

In [4]:
# Filter (df2): brand x channel level into individual dataframes
    
df_bh_us = df_base[(df_base['brand'] == 'botanic hearth') & (df_base['sales_channel'] == 'Amazon.com')] 
df_bh_ca = df_base[(df_base['brand'] == 'botanic hearth') & (df_base['sales_channel'] == 'Amazon.ca')] 
df_mp_us = df_base[(df_base['brand'] == 'majestic pure') & (df_base['sales_channel'] == 'Amazon.com')] 
df_mp_ca = df_base[(df_base['brand'] == 'majestic pure') & (df_base['sales_channel'] == 'Amazon.ca')]

#Save the brand x sales channel DataFrame to an csv file
date_str = '05_09_24'

df_bh_us.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/1_Data/df_bh_us_' + date_str + '.csv', index=False) 
df_bh_ca.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/1_Data/df_bh_ca_' + date_str + '.csv', index=False) 
df_mp_us.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/1_Data/df_mp_us_' + date_str + '.csv', index=False) 
df_mp_ca.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/1_Data/df_mp_ca_' + date_str + '.csv', index=False)

In [5]:
# Read the CSV file into a DataFrame - to roll up
df_mp_us = pd.read_csv("C:/Users/Poovesh Kumar M/Downloads/Planning/1_Data/3_Sep_05_09_2024/df_mp_us_05_09_24.csv")
df_mp_us

df_bs1 = df_mp_us

# Step 2: Create a list of distinct 'brand' and 'sales_channel' combinations
brands_channel_list = [f"{brand.replace('.', '_')}_{channel.replace('.', '_')}" 
                       for brand, channel in df_bs1[['brand', 'sales_channel']].drop_duplicates().values]

# Step 3: Convert the list to a single string, separated by commas
brands_channel_str = ', '.join(brands_channel_list)

# Display the combined string
print(brands_channel_str)

majestic pure_Amazon_com

In [25]:
df_bs1

,brand,sales_channel,sales_date,sale_month_year,asin,earliest_date_brand_channel,currency,asp,gmv,inorganic_gmv,...,category,sub_category,product_type,theme,dros,cummulative_ros,velocity_bucket,vb_created_datetime,inorganic_gmv_units,organic_gmv_units
0,majestic pure,Amazon.com,2023-06-18,06-2023,B08VWCZYZ6,2022-10-01,USD,13.753333,453.86,169.8328,...,Conditioner,NaN,B08VWCZYZ6,Legacy,14.000000,0.9437,4_SM,2024-09-01 21:09:06,12.3484,20.4341
1,majestic pure,Amazon.com,2024-08-05,08-2024,B0CHFZ2HVL,2022-10-01,USD,0.000000,0.00,0.0000,...,Essential Oil Roll on blend,NaN,B0CHFZ2HVL,Legacy,0.000000,1.0000,4_SM,2024-09-01 21:09:06,0.0000,0.0000
2,majestic pure,Amazon.com,2024-02-20,02-2024,B09S26ZF1N,2022-10-01,USD,12.841765,218.31,178.6400,...,Essential Oil,NaN,B09S26ZF1N,Legacy,26.369176,0.8828,4_SM,2024-09-01 21:09:06,13.9108,3.0603
3,majestic pure,Amazon.com,2023-08-18,08-2023,B0C6XVFJPZ,2022-10-01,USD,13.109091,288.40,256.0122,...,Essential Oil Set,NaN,B0C6XVFJPZ,Legacy,9.142857,0.9743,4_SM,2024-09-01 21:09:06,19.5293,2.2707
4,majestic pure,Amazon.com,2023-11-07,11-2023,B01IRKTYII,2022-10-01,USD,13.770000,55.08,0.0000,...,Body Butters,NaN,B01IRKTYII,Legacy,2.571429,0.9956,4_SM,2024-09-01 21:09:06,0.0000,4.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206117,majestic pure,Amazon.com,2022-12-24,12-2022,B08L3ZZFGB,2022-10-01,USD,0.000000,0.00,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000
206118,majestic pure,Amazon.com,2023-02-01,02-2023,B09JL8V6RB,2022-10-01,USD,9.950000,99.50,71.0204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1377,2.8622
206119,majestic pure,Amazon.com,2023-07-23,07-2023,B09JL8V6RB,2022-10-01,USD,0.000000,0.00,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000
206120,majestic pure,Amazon.com,2023-12-22,12-2023,B09JL8V6RB,2022-10-01,USD,0.000000,0.00,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000
206121,majestic pure,Amazon.com,2024-04-29,04-2024,B09JL8V6RB,2022-10-01,USD,0.000000,0.00,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000

In [10]:
#Weekly Roll up data with organic & inorganic share:

# Convert 'sales_date' to datetime format if it isn't already
df_bs1['sales_date'] = pd.to_datetime(df_bs1['sales_date'])

# Extract the week and year, setting the week to start on Monday and end on Sunday
df_bs1['Week_Start_date'] = df_bs1['sales_date'].dt.to_period('W-SUN').apply(lambda r: r.start_time.date())
df_bs1['Week_End_date'] = df_bs1['sales_date'].dt.to_period('W-SUN').apply(lambda r: r.end_time.date())

# Select only the relevant columns
df_bs1 = df_bs1[['velocity_bucket','asin','sales_date','Week_Start_date','Week_End_date','currency', 'gmv_units','organic_gmv_units','inorganic_gmv_units',
                  'ad_spend','inventory_available', 'gmv', 'inorganic_gmv', 'organic_gmv']]


# Create a new column to flag days with inventory available
df_bs1['inventory_flag'] = df_bs1['inventory_available'] > 0

# Group by 'asin' and 'Week_Start_date' to summarize the necessary columns
df_weekly = df_bs1.groupby(['asin', 'Week_Start_date'], as_index=False).agg({
    'velocity_bucket': 'first',  # Assuming velocity_bucket doesn't change within a week for an ASIN
    'gmv_units': 'sum',
    'organic_gmv_units': 'sum',
    'inorganic_gmv_units': 'sum',
    'ad_spend': 'sum',
    'inventory_available': 'sum',
    'gmv': 'sum',
    'inorganic_gmv': 'sum',
    'organic_gmv': 'sum',
    'inventory_flag': 'sum'  # Sum the True values (which represent days with inventory)
})

# Recalculate Week_End_date since it was lost during grouping
df_weekly['Week_End_date'] = df_weekly['Week_Start_date'] + pd.to_timedelta(6, unit='d')

# Calculate the total number of days inventory data is present in that week
df_weekly = df_weekly.assign(total_days=lambda x: df_bs1.groupby(['asin', 'Week_Start_date'])['sales_date'].transform('nunique'))

# Calculate inventory_Availability% = (count of days with inventory_available > 0) / total days inventory is present * 100
df_weekly['inventory_Availability%'] = (df_weekly['inventory_flag'] / df_weekly['total_days']) * 100

# Calculate asp_week = sum(gmv) / sum(gmv_units)
df_weekly['asp_week'] = df_weekly['gmv'] / df_weekly['gmv_units']

# Select relevant columns for the final DataFrame
df_weekly = df_weekly[['velocity_bucket', 'asin', 'Week_Start_date', 'Week_End_date',
                             'organic_gmv_units', 'inorganic_gmv_units','gmv_units', 'asp_week', 'ad_spend','inventory_Availability%',
                               'gmv', 'inorganic_gmv', 'organic_gmv','inventory_available' ]]

In [11]:
df_weekly.head()

df_weekly = df_weekly[df_weekly['Week_Start_date'] <= '2024-08-26']

# Save the weekly report to a CSV file
df_weekly.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/'+brands_channel_str+'_weekly_data.csv', index=False)

In [12]:
#Monthly Roll up data with organic & inorganic share:

# Convert 'sales_date' to datetime format if it isn't already
df_bs1['sales_date'] = pd.to_datetime(df_bs1['sales_date'])

# Extract the month and year
df_bs1['Month_Start_date'] = df_bs1['sales_date'].dt.to_period('M').apply(lambda r: r.start_time.date())
df_bs1['Month_End_date'] = df_bs1['sales_date'].dt.to_period('M').apply(lambda r: r.end_time.date())

# Select only the relevant columns
df_bs1 = df_bs1[['velocity_bucket','asin','sales_date','Month_Start_date','Month_End_date','currency', 'gmv_units','organic_gmv_units','inorganic_gmv_units',
                  'ad_spend','inventory_available', 'gmv', 'inorganic_gmv', 'organic_gmv']]

# Create a new column to flag days with inventory available
df_bs1['inventory_flag'] = df_bs1['inventory_available'] > 0

# Group by 'asin' and 'Month_Start_date' to summarize the necessary columns
df_monthly = df_bs1.groupby(['asin', 'Month_Start_date'], as_index=False).agg({
    'velocity_bucket': 'first',  # Assuming velocity_bucket doesn't change within a month for an ASIN
    'gmv_units': 'sum',
    'organic_gmv_units': 'sum',
    'inorganic_gmv_units': 'sum',
    'ad_spend': 'sum',
    'inventory_available': 'sum',
    'gmv': 'sum',
    'inorganic_gmv': 'sum',
    'organic_gmv': 'sum',
    'inventory_flag': 'sum'  # Sum the True values (which represent days with inventory)
})

# Recalculate Month_End_date since it was lost during grouping
df_monthly['Month_End_date'] = df_monthly['Month_Start_date'].apply(lambda d: pd.to_datetime(d) + pd.offsets.MonthEnd(0))

# Calculate the total number of days inventory data is present in that month
df_monthly = df_monthly.assign(total_days=lambda x: df_bs1.groupby(['asin', 'Month_Start_date'])['sales_date'].transform('nunique'))

# Calculate inventory_Availability% = (count of days with inventory_available > 0) / total days inventory is present * 100
df_monthly['inventory_Availability%'] = (df_monthly['inventory_flag'] / df_monthly['total_days']) * 100

# Calculate asp_month = sum(gmv) / sum(gmv_units)
df_monthly['asp_month'] = df_monthly['gmv'] / df_monthly['gmv_units']

# Select relevant columns for the final DataFrame
df_monthly = df_monthly[['velocity_bucket', 'asin', 'Month_Start_date', 'Month_End_date',
                             'organic_gmv_units', 'inorganic_gmv_units','gmv_units', 'asp_month', 'ad_spend','inventory_Availability%',
                               'gmv', 'inorganic_gmv', 'organic_gmv','inventory_available' ]]

In [13]:
df_monthly

,velocity_bucket,asin,Month_Start_date,Month_End_date,organic_gmv_units,inorganic_gmv_units,gmv_units,asp_month,ad_spend,inventory_Availability%,gmv,inorganic_gmv,organic_gmv,inventory_available
0,1_SF,B00PMR3QF2,2022-10-01,2022-10-31,3852.9109,2785.4209,6677,16.813810,21533.125500,0.000000,112265.81,46585.4403,65024.7697,0
1,1_SF,B00PMR3QF2,2022-11-01,2022-11-30,4950.9657,3795.9343,8798,14.936118,22748.184000,0.000000,131407.97,56332.5049,74298.9251,0
2,1_SF,B00PMR3QF2,2022-12-01,2022-12-31,7322.2430,5783.5337,13195,13.977744,31650.237900,0.000000,184436.33,80402.2062,102791.8638,0
3,1_SF,B00PMR3QF2,2023-01-01,2023-01-31,6528.7419,4390.2275,10993,16.078058,26606.903300,0.000000,176746.09,70526.1501,105033.3299,0
4,1_SF,B00PMR3QF2,2023-02-01,2023-02-28,5792.3410,3993.7679,9855,15.193656,21489.824400,0.000000,149733.48,60670.7595,88007.4705,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7047,4_SM,B0D8HVYNM8,2024-07-01,2024-07-31,0.0000,0.0000,0,NaN,0.000000,54.838710,0.00,0.0000,0.0000,7282
7048,4_SM,B0D8HVYNM8,2024-08-01,2024-08-31,0.0000,0.0000,0,NaN,0.000000,100.000000,0.00,0.0000,0.0000,15199
7049,4_SM,B0D8HVYNM8,2024-09-01,2024-09-30,0.0000,0.0000,0,NaN,0.000000,6.451613,0.00,0.0000,0.0000,968
7050,4_SM,B0DC6NGTPN,2024-08-01,2024-08-31,0.0000,0.0000,0,NaN,0.000000,12.903226,0.00,0.0000,0.0000,2160
7051,4_SM,B0DC6NGTPN,2024-09-01,2024-09-30,-2.8125,12.1877,10,15.989000,313.504051,6.451613,159.89,194.8700,-44.9700,1068

In [14]:
# Save the weekly report to a CSV file
df_weekly.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/'+brands_channel_str+'_weekly_data.csv', index=False)
df_monthly.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/'+brands_channel_str+'_monthly_data.csv', index=False)

In [8]:
# Filtering data for 2024
# Convert Week_Start_date to datetime if it's not already

df_weekly['Week_Start_date'] = pd.to_datetime(df_weekly['Week_Start_date'])

# Define the date range
start_date = pd.to_datetime('2024-01-01')
end_date = pd.to_datetime('2024-08-31')

# Apply the filter
df_weekly_base_data_filtered = df_weekly[
    (df_weekly['Week_Start_date'] >= start_date) & 
    (df_weekly['Week_Start_date'] < end_date)
]

df_weekly_base_data_filtered
# Save the weekly report to a CSV file
df_weekly_base_data_filtered.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/'+brands_channel_str+'_weekly_data_20204.csv', index=False)

In [24]:
#WAPE and WAPE buckets

file_path_3 = r"C:\Users\Poovesh Kumar M\Downloads\Planning\1_Data\3_Sep_05_09_2024\Actul_Planned_Forecast_Data_may_july_2024.csv"
df_data_wape = pd.read_csv(file_path_3)

df_data_wape['absolute_error_AP'] = abs(df_data_wape['Actual'] - df_data_wape['planned_qty'])
df_data_wape['absolute_error_AF'] = abs(df_data_wape['Actual'] - df_data_wape['Forecasted_sales'])

df_data_wape_may = df_data_wape[df_data_wape['Month'] == 'May']
df_data_wape_jun = df_data_wape[df_data_wape['Month'] =='June']
df_data_wape_july = df_data_wape[df_data_wape['Month'] == 'July']

In [28]:
# df_data_wape_may
# df_data_wape_jun
# df_data_wape_july

,brand,planning_group,Velocity Buckets,ASIN Classification,listing_id,Month,Actual,planned_qty,Forecasted_sales,absolute_error_AP,absolute_error_AF
30,Majestic Pure,AMAZON_US,4_SM,Intermittent,B0B9172ZB1,June,1,0,0.0,1,1.0
31,Majestic Pure,AMAZON_US,4_SM,Intermittent,B09N7Y78Q7,June,0,0,0.0,0,0.0
32,Majestic Pure,AMAZON_US,-,Intermittent,B09DQ4SSSM,June,0,0,0.0,0,0.0
33,Majestic Pure,AMAZON_US,-,Intermittent,B07QXV6T4K,June,0,0,0.0,0,0.0
34,Majestic Pure,AMAZON_US,-,Intermittent,B08D2HWV3K,June,0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
705,Majestic Pure,AMAZON_US,-,-,B07DJYGCHC,June,0,0,NaN,0,NaN
706,Majestic Pure,AMAZON_US,-,-,B01BHO79V0,June,0,0,NaN,0,NaN
707,Majestic Pure,AMAZON_US,-,-,B01N6N716A,June,0,0,NaN,0,NaN
708,Majestic Pure,AMAZON_US,4_SM,-,B0732HBHQX,June,0,0,NaN,0,NaN
709,Majestic Pure,AMAZON_US,-,-,B00VXHY6KY,June,0,0,NaN,0,NaN

In [38]:

# df_data_wape1 = df_data_wape_may
# df_data_wape1 = df_data_wape_jun
df_data_wape1 = df_data_wape_july

# Calculate WAPE for asin :
wape_per_asin_AP = df_data_wape1.groupby(['listing_id']).apply(
    lambda x: x['absolute_error_AP'].sum() / x['Actual'].sum()
).reset_index(name='WAPE')

# Calculate WAPE for asin :
wape_per_asin_AF = df_data_wape1.groupby(['listing_id']).apply(
    lambda x: x['absolute_error_AF'].sum() / x['Actual'].sum()
).reset_index(name='WAPE')

C:\Users\Poovesh Kumar M\AppData\Local\Temp\ipykernel_3836\91355176.py:7: RuntimeWarning: invalid value encountered in scalar divide
  lambda x: x['absolute_error_AP'].sum() / x['Actual'].sum()
C:\Users\Poovesh Kumar M\AppData\Local\Temp\ipykernel_3836\91355176.py:7: RuntimeWarning: divide by zero encountered in scalar divide
  lambda x: x['absolute_error_AP'].sum() / x['Actual'].sum()
C:\Users\Poovesh Kumar M\AppData\Local\Temp\ipykernel_3836\91355176.py:12: RuntimeWarning: invalid value encountered in scalar divide
  lambda x: x['absolute_error_AF'].sum() / x['Actual'].sum()
C:\Users\Poovesh Kumar M\AppData\Local\Temp\ipykernel_3836\91355176.py:12: RuntimeWarning: divide by zero encountered in scalar divide
  lambda x: x['absolute_error_AF'].sum() / x['Actual'].sum()

In [40]:

# Wape_buckets
df = wape_per_asin_AP
# df = wape_per_asin_AF


# Assuming df has columns: ['asin', 'WAPE']

conditions = [
    (df['WAPE'] <= 0.10),
    (df['WAPE'] > 0.10) & (df['WAPE'] <= 0.20),
    (df['WAPE'] > 0.20) & (df['WAPE'] <= 0.30),
    (df['WAPE'] > 0.30) & (df['WAPE'] <= 0.40),
    (df['WAPE'] > 0.40) & (df['WAPE'] <= 0.50),
    (df['WAPE'] > 0.50) & (df['WAPE'] <= 0.60),
    (df['WAPE'] > 0.60) & (df['WAPE'] <= 0.70),
    (df['WAPE'] > 0.70) & (df['WAPE'] <= 0.80),
    (df['WAPE'] > 0.80) & (df['WAPE'] <= 0.90),
    (df['WAPE'] > 0.90) & (df['WAPE'] <= 1.00),
    (df['WAPE'] > 1.00)
]

choices = [
    "A. 0 - 10%",
    "B. > 10% - 20%",
    "C. > 20% - 30%",
    "D. > 30% - 40%",
    "E. > 40% - 50%",
    "F. > 50% - 60%",
    "G. > 60% - 70%",
    "H. > 70% - 80%",
    "I. > 80% - 90%", 
    "J > 90% - 100%",
    "K.> 100%"
]

df['wape_bucket'] = np.select(conditions, choices, default='Other')


# Summarize the count of ASINs in each WAPE bucket
bucket_summary = df.groupby('wape_bucket').size().reset_index(name='asin_count')

# Sort the result for a cleaner view (optional)
bucket_summary = bucket_summary.sort_values(by='wape_bucket')

# Display the summary
print(bucket_summary)


# Save the forecast results to a CSV file
df.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/WAPE_summary_Jul_AP.csv', index=False)
bucket_summary.to_csv('C:/Users/Poovesh Kumar M/Downloads/Planning/bucket_summary_Jul_AP.csv', index=False)

       wape_bucket  asin_count
0       A. 0 - 10%          18
1   B. > 10% - 20%          22
2   C. > 20% - 30%          14
3   D. > 30% - 40%          15
4   E. > 40% - 50%          18
5   F. > 50% - 60%          17
6   G. > 60% - 70%           8
7   H. > 70% - 80%           5
8   I. > 80% - 90%           7
9   J > 90% - 100%           9
10        K.> 100%          49
11           Other         103